@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap')

;root{
    --cor-de-fundo: #1E1E1E;
    --azulneon: #8787e9;
    --verde-lemon: #7be435;
    --vermelho: #ff0000;
    --r-g-b: rgba(21, 0, 255, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
    --azul-bebe: #add8e6;
}

body{
    background-color: #fc9797;
    color: var(--texto-fundo);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #d30000 ;
}

.titulo-principal span{
    color: #5c0c0c;
}

.botao{
    font-family: "Crakra patch", sans-serif;
    background-color: var(--cor-de-fundo);
    color: var(--vermelho);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 5px solid;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botoes{
    display: block;
}

.ativo{
    background-color: #9a9afd;
    border-bottom: 6px solid #0926a8;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 40px;
    }
    .botao:last-child{
        border-radius: 0 40px 40px 0;
    }

}